* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
}

nav{
    display: flex;
    position: fixed;
    width: 50%;
    justify-content: space-around;
    flex-direction: row;
    z-index: 4;
}

#nav-div{
    background-color: white;
	padding: 0.3em;
	flex-grow: 1;
    padding-bottom: 1.3em;

    position: fixed;
  /* border: solid 1px red; */
  width: 50%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

#sub-nav{
position: fixed;
  width: 48%;
  color: rgb(68, 70, 70);
  /* border: solid 1px red; */
  background-color: rgb(255, 255, 255);
  top: 1.8em;
  /* padding: 0.3em; */
  display: block flex;
  flex-grow: 1;
  justify-content:space-between;
  transition: all 0.2s;
  z-index: 3;
}

#website-view{
    display: grid;
        /* This is where the base gridding is created - 2 columns for automatic number of row */
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 100vw;
    height: 100vh;
    /* background-color: blanchedalmond; */
}


#media-container{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1em;
    display: none;
}

#list-container{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    /* padding-bottom: 100px; */
    height: 100vh;
    overflow-y: scroll;
    display: none;
}

#fullWidth-view{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

#monthly-container{
    top: 10%;
    position:absolute;
    color: white;
    margin-left: 0.3em;
    border: solid 1px red;
    height: 85vh;
    width: 99vw;
    overflow-y: scroll;
}

#list{
    top: 3.1rem;
    position: relative;
}

.list-item{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}


.list-item:hover{
/* color: rgb(0, 0, 0); */
text-decoration: underline;
font-family: 'Times New Roman', Times, serif;
font-style: italic bold;
font-weight: bold;
}

.text-item{
    /* line-height: 1.2; */
    /* padding-left: 2%; */
    background-color: rgb(255, 255, 255);
    /* color: rebeccapurple; */
    /* height: max-content; */
}

.img-wrap{
    box-shadow: inset 0px -1px 0px 0px white;
    /* background: #272121; */
    width: 90%;
    padding: 2%;
    display: inline-block;
}

/* .img-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

  .data :hover{
    text-decoration: none;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight: normal; 
}

/* monthly calendar-settings */
/* https://www.freecodecamp.org/news/how-to-build-a-calendar-with-css-grid/ */

.month{
    height: 100%;
    background-color: brown;
}

/* The grid */
.monthly-container{
    height: 100vh;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: solid 1px red;
  grid-auto-flow: dense;
  /* height: 10%; */
}

/* Positioning the first day on a Friday */
.date-grid button:first-child {
    grid-column: 6;
  }

/* Styles for the weekday/weekend header */
.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.7em;
  color: var(--blue-grey-400);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

/* Dates */
.date-grid {
    height: 80%;
  margin-top: 0.5em;
}
  
